body {
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    flex-direction: column;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: padding-box;
}

form {
    width: 830px;
    border: 2px solid burlywood;
    padding: 20px;
    background-color: #066802;
    border-radius: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 45px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 270%;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color:white;
    font-size: 18px;
    padding: 10px;
    font-family: "Times New Roman", Times, serif;
}

button {
    float: right;
    background: rgb(0, 194, 253);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    height: 13%;
    width: 15%;
    margin-bottom: 5px;
    }

   
button:hover{
    opacity: .10;
    background: rgb(11, 211, 247);
    }

.error {
    background-color: #e77171;
    color: white;
    border-color: #fff;
    padding: 10px;
    outline: solid  ;
    width: 35%;
    margin: 20px;
    font-family: Arial, sans-serif;
    }
    
.error:hover {
    transition: background-color 0.3s;
    }

h1 {
    text-align: center;
    color: rgb(50, 6, 245);
    font-size: 250%;
    font-family: Arial;
    }

a  {
    text-align: left;
    padding: 5px 5px;
    color: lightblue;
    margin-right: 10px;
    border: none;   
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    } 
    
a:hover{
    opacity: .7;
    }

p   {
    color: rgb(0, 0, 0);
    font-size: large;   
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 15px;
    padding-left: 15px;
    font-family: "Times New Roman", Times, serif;
    }

.back{
    color: rgb(6, 206, 129);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160%;
    
}

.backTo{
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid black; 
    font-weight: bolder;
    background-color: darkblue;
}